.dashboard {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  &__buttons {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }

  &__btn-wrapper {
    padding: 50px;
  }
}
