.cart {
  &--product-image {
    width: 150px;
  }

  &__total {
    border: 1px solid #dee2e6;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    h5 {
      margin: 0;
    }
  }
}
